.main-footer {
  color: White;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 3em;
  background-color: #424242;
  background-image: url("/app/images/footer/footer-bg-1.png");
  box-shadow: 0 -0.3em 0.2em rgba(0, 0, 0, 0.4), 0 0.3em 0.2em rgba(0, 0, 0, 0.4);
  margin-top: 2em; }
